/* Custom Table Styles */
.custom-table .p-datatable-tbody>tr {
  background-color: #f4f4f4;
  /* Light grey background */
}

.custom-table th {
  text-align: center;
  background-color: #007bff;
  /* Blue header */
  color: #ffffff;
}

.custom-table td {
  text-align: center;
  vertical-align: middle;
}

.btn-details {
  background-color: #007bff;
  /* Blue button */
  color: #ffffff;
  border: none;
}

.btn-details:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {

  .custom-table .p-datatable-tbody>tr>td,
  .custom-table .p-datatable-thead>tr>th {
    text-align: left;
    display: block;
  }

  .custom-table .p-datatable-tbody>tr {
    border-bottom: 1px solid #dee2e6;
  }
  ::ng-deep .p-paginator {
    display: flow !important;
    text-align: center;
  }
  ::ng-deep .p-paginator .p-paginator-first,::ng-deep .p-paginator .p-paginator-current,::ng-deep .p-paginator .p-paginator-last {
    display: none !important;
  }
}

.click {
  background-color: green;
  color: white;
}

.click:hover {
  cursor: pointer;
}
