<div class="row p-0 m-0 rowall">
  <div
    class="p-0 m-0 nav-bar"
    [ngClass]="{'col-1': isCollapsed, 'col-2': !isCollapsed, 'd-none d-md-block': isCollapsed}"
      >
    <!-- Sidebar -->
    <div id="sidebarInAdmin" class="text-center">
      <div class="p-0 m-0 row">
        <div class="py-4" style="background-color: #214162">
          <div class="row d-flex flex-column align-items-center">
            <div class="col mb-3 d-flex justify-content-center">
              <img
                *ngIf="!showItem"
                src="https://cdn-icons-png.freepik.com/256/8955/8955147.png"
                alt=""
                style="border-radius: 50px; max-width: 70px"
                class="img-fluid d-none d-md-block"
              />
            </div>
            <div class="col d-flex justify-content-center p-1">
              <p class="text-light fw-bold" id="userRole">{{ userRole }}</p>
            </div>
          </div>
        </div>
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-3">
            <li
              class="nav-itemm mb-1"
              style="border-bottom: 2px solid #ff5722"
              *ngIf="userRole == 'Admin'"
            >
              <h5 class="d-none d-md-block">
                <i class="fa fa-dashboard yellow_color px-2"></i>
                <span class="text-light">Sections</span>
              </h5>
            </li>
            <li
              routerLink="/admin/dashboard/managers"
              routerLinkActive="active"
              class="nav-item"
              *ngIf="userRole == 'Admin'"
            >
              <a class="nav-link">
                <i class="fa-solid fa-user-tie fa-lg text-primary"></i>
                <span class="d-none d-sm-inline text-light"> Manger </span>
              </a>
            </li>
            <li
              routerLink="/admin/dashboard/leaders"
              routerLinkActive="active"
              class="nav-item"
              *ngIf="userRole === 'Admin' || userRole === 'Manager'"
            >
              <a class="nav-link">
                <i class="fa-solid fa-user-group fa-lg text-success"></i>
                <span class="ms-1 d-none d-sm-inline text-light">
                  Team Leaders
                </span>
              </a>
            </li>
            <li
              routerLink="/admin/dashboard/sales"
              routerLinkActive="active"
              class="nav-item"
              *ngIf="userRole === 'Admin' || userRole === 'Manager'"
            >
              <a class="nav-link align-middle px-0">
                <i class="fa-solid fa-users fa-lg text-warning "></i>
                <span class="ms-1 d-none d-sm-inline text-light">
                  Sellers
                </span>
              </a>
            </li>
            <li
            routerLink="/client/clientHome"
            routerLinkActive="active"
            class="nav-item"
            *ngIf="userRole == 'TeamLeader'"
          >
            <a class="nav-link align-middle px-0">
              <i class="fa-solid fa-home fa-lg text-primary"></i>
              <span class="ms-1 d-none d-sm-inline text-light"> Home </span>
            </a>
          </li>
            <li
              routerLink="/sales/salesList"
              routerLinkActive="active"
              class="nav-item"
              *ngIf="userRole === 'TeamLeader'"
            >
              <a class="nav-link align-middle px-0">
                <i class="fa-solid fa-users fa-lg text-warning "></i>
                <span class="ms-1 d-none d-sm-inline text-light">
                  Sellers
                </span>
              </a>
            </li>
            <li
              routerLink="/admin/dashboard/clients"
              routerLinkActive="active"
              class="nav-item"
              *ngIf="userRole === 'Admin' || userRole === 'Manager'"
            >
              <a class="nav-link align-middle px-0">
                <i class="fa-solid fa-people-group fa-lg text-primary "></i>
                <span class="ms-1 d-none d-sm-inline text-light">
                  Clients
                </span>
              </a>
            </li>
            <li
              routerLink="/admin/dashboard/retentions"
              routerLinkActive="active"
              class="nav-item"
              *ngIf="userRole === 'Admin' || userRole === 'Manager'"
            >
              <a class="nav-link align-middle px-0">
                <i class="fa-solid fa-person-rays fa-lg text-danger "></i>
                <span class="ms-1 d-none d-sm-inline text-light">
                  Retention
                </span>
              </a>
            </li>
            <li
              routerLink="/admin/dashboard/interviewees"
              routerLinkActive="active"
              class="nav-item"
              *ngIf="userRole === 'Admin' || userRole === 'Manager'"
            >
              <a class="nav-link align-middle px-0">
                <i class="fa-solid fa-user-tie fa-lg text-success "></i>
                <span class="ms-1 d-none d-sm-inline text-light">
                  Interviewee
                </span>
              </a>
            </li>
            <li
              routerLink="/admin/dashboard/hrs"
              class="nav-item"
              *ngIf="userRole === 'Admin' || userRole === 'Manager'"
            >
              <a class="nav-link align-middle px-0">
                <i
                  class="fa-regular fa-user fa-lg text-danger text-center"
                ></i>
                <span class="ms-1 d-none d-sm-inline text-light text-center">
                  HRs
                </span>
              </a>
            </li>
            <!-- ******************** Hr ****************************** -->
            <li
              routerLink="/hr/home"
              routerLinkActive="active"
              class="nav-item"
              *ngIf="userRole == 'Hr'"
            >
              <a class="nav-link align-middle px-0">
                <i class="fa-solid fa-home fa-lg text-primary "></i>
                <span class="ms-1 d-none d-sm-inline text-light"> Home </span>
              </a>
            </li>
            <li
              routerLink="/hr/add-interviewee"
              routerLinkActive="active"
              class="nav-item"
              *ngIf="userRole == 'Hr'"
            >
              <a class="nav-link align-middle px-0">
                <i class="fa-solid fa-user fa-lg text-warning "></i>
                <span class="ms-1 d-none d-sm-inline text-light">
                  Add-Interviewee
                </span>
              </a>
            </li>
            <!-- ******************** seller ****************************** -->
            <li
              routerLink="/sales/salesHome"
              routerLinkActive="active"
              class="nav-item"
              *ngIf="userRole == 'Sales'"
            >
              <a class="nav-link align-middle px-0">
                <i class="fa-solid fa-home fa-lg text-primary"></i>
                <span class="ms-1 d-none d-sm-inline text-light"> Home </span>
              </a>
            </li>
            <li
              routerLink="/sales/salesHistory"
              routerLinkActive="active"
              class="nav-item"
              *ngIf="userRole == 'Sales' || userRole==='TeamLeader'"
            >
              <a class="nav-link align-middle px-0">
                <i class="fa-solid fa-user-tie fa-lg text-warning"></i>
                <span class="ms-1 d-none d-sm-inline text-light">
                  Sales History
                </span>
              </a>
            </li>
            <!-- ******************** TeamLead  && Retention ****************************** -->
            <li
              routerLink="/client/leader-interviewees"
              routerLinkActive="active"
              class="nav-item"
              *ngIf="userRole == 'TeamLeader' "
            >
              <a class="nav-link align-middle px-0">
                <i class="fas fa-user fa-lg text-warning "></i>
                <span class="ms-1 d-none d-sm-inline text-light">Interviewees</span>
              </a>
            </li>
            <li
              routerLink="/client/clientHistory"
              routerLinkActive="active"
              class="nav-item"
              *ngIf="userRole == 'TeamLeader' || userRole == 'Retention'"
            >
              <a class="nav-link align-middle px-0">
                <i class="fas fa-history fa-lg text-warning "></i>
                <span class="ms-1 d-none d-sm-inline text-light">History</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- main page -->
  <div
    class="p-0 m-0"
    [ngClass]="{'col-11': isCollapsed, 'col-10': !isCollapsed, 'col-12': isCollapsed && isSmallScreen}">
        <!-- ----------------------------- nav ------------------------------------>
    <div style="background-color: #15283c">
      <nav class="navbar navbar-expand-lg navbar-dark px-3 m-0 p-0">
        <span class="sidebar-icon" (click)="toggleSidebar()">
          <!-- ☰ -->
          <i class="fa-solid fa-bars fa-lg"></i>
        </span>
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex">
          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://cdn-icons-png.freepik.com/256/8955/8955147.png"
                class="rounded-circle"
                height="25"
                alt="Avatar"
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li *ngIf="userRole==='Admin'||userRole==='Manager'||userRole==='TeamLeader'">
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  routerLink="/auth/register"
                  ><i class="fa-solid fa-plus"></i> Add User</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  (click)="logout()"
                  ><i class="fa-solid fa-right-from-bracket"></i> Logout</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <!-------------------------------- main ------------------------------>
    <router-outlet></router-outlet>
  </div>
</div>
