<div class="row p-0 m-0 rowall">
    <div class="p-0 m-0 nav-bar" [ngClass]="{'col-1': isCollapsed, 'col-2': !isCollapsed}">
        <!-- Sidebar -->
        <div id="sidebarInAdmin" class="text-center">
            <div class="p-0 m-0 row ">
                <div class="py-4" style="background-color:#214162;">
                    <div style="display: flex;justify-content: space-evenly;">
                        <img *ngIf="!showItem" src="../../../../assets/images/Adminlogo.png" alt=""
                            style="border-radius: 50px;max-width: 70px;">
                        <h5 class="card-text text-light" style="display: flex;align-items: center;">{{userRole}}</h5>
                    </div>
                </div>
                <div >

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-3 " >
                        <li class="nav-itemm mb-2" style="border-bottom: 2px solid #ff5722 ;" *ngIf="userRole=='Admin'">
                            <h5>
                                <i class="fa fa-dashboard yellow_color py-3 px-2"></i>
                                <span class="text-light">Sections</span>
                            </h5>
                        </li>
                        <li class="nav-item" *ngIf="userRole=='Admin'">
                            <a routerLink="/admin/dashboard/managers" routerLinkActive="active"
                                class="nav-link align-middle px-0">
                                <i class="fa-solid fa-user-tie fa-lg  text-primary m-3"></i> <span
                                    class="d-none d-sm-inline text-light">
                                    Manger </span>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="userRole=='Admin'">
                            <a routerLink="/admin/dashboard/leaders" routerLinkActive="active"
                                class="nav-link align-middle px-0">
                                <i class="fa-solid fa-user-group fa-lg text-success m-3"></i>
                                <span class="ms-1 d-none d-sm-inline  text-light"> Team Leaders
                                </span>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="userRole=='Admin'">
                            <a routerLink="/admin/dashboard/sales" routerLinkActive="active"
                                class="nav-link align-middle px-0">
                                <i class="fa-solid fa-users fa-lg text-warning m-3"></i> <span
                                    class="ms-1 d-none d-sm-inline  text-light"> Sellers
                                </span>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="userRole=='Admin'">
                            <a href="#" routerLinkActive="active" class="nav-link align-middle px-0">
                                <i class="fa-regular fa-user fa-lg text-danger m-3 text-center p-2"></i>
                                <span class="ms-1 d-none d-sm-inline  text-light text-center">
                                    Hr
                                </span>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="userRole=='Admin'">
                            <a routerLink="/admin/dashboard/sales" routerLinkActive="active"
                                class="nav-link align-middle px-0">
                                <i class="fa-solid fa-people-group fa-lg text-primary m-3"></i> <span
                                    class="ms-1 d-none d-sm-inline  text-light"> Clients
                                </span>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="userRole=='Admin'">
                            <a href="#" routerLinkActive="active" class="nav-link align-middle px-0">
                                <i class="fa-solid fa-person-rays fa-lg text-danger m-3"></i> <span
                                    class="ms-1 d-none d-sm-inline  text-light"> Retention
                                </span>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="userRole=='Admin'">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fa-solid fa-user-tie fa-lg  text-success m-3"></i> <span
                                    class="ms-1 d-none d-sm-inline  text-light"> Interviewee
                                </span>
                            </a>
                        </li>
                        <!-- ******************** seller ****************************** -->
                        <li class="nav-item" *ngIf="userRole=='Sales'">
                            <a routerLink="/sales/salesHome" routerLinkActive="active" class="nav-link align-middle px-0">
                                <i class="fa-solid fa-home fa-lg  text-primary m-3"></i> <span
                                    class="ms-1 d-none d-sm-inline  text-light"> Home
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/sales/salesHistory" routerLinkActive="active" class="nav-link align-middle px-0">
                                <i class="fa-solid fa-user-tie fa-lg  text-warning m-3"></i> <span
                                    class="ms-1 d-none d-sm-inline  text-light"> History
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="p-0 m-0" [ngClass]="{'col-11': isCollapsed, 'col-10': !isCollapsed}">
        <!-- ----------------------------- nav ------------------------------------>
        <div style="background-color:#15283c">
            <nav class="navbar navbar-expand-lg navbar-dark px-4">
                <span class="sidebar-icon" (click)="toggleSidebar()">
                    <!-- ☰ -->
                    <i class="fa-solid fa-bars fa-lg"></i>
                </span>
                <!-- Right links -->
                <ul class="navbar-nav ms-auto d-flex">
                    <!-- Avatar -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                            id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../../../assets/images/Adminlogo.png" class="rounded-circle" height="25"
                                alt="Avatar" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> My profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i> Settings</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="cursor:pointer;" (click)="logout()"><i
                                class="fa-solid fa-right-from-bracket"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- ----------------------------- main ------------------------------>
        <router-outlet></router-outlet>
    </div>
</div>