/* Custom Table Styles */
.custom-table .p-datatable-tbody > tr {
  background-color: #f4f4f4; /* Light grey background */
}

.custom-table th {
  text-align: center;
  background-color: #007bff; /* Blue header */
  color: #ffffff;
}

.custom-table td {
  text-align: center;
  vertical-align: middle;
}

.btn-details {
  background-color: #007bff; /* Blue button */
  color: #ffffff;
  border: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .custom-table .p-datatable-tbody > tr > td,
  .custom-table .p-datatable-thead > tr > th {
    text-align: left;
    display: block;
  }

  .custom-table .p-datatable-tbody > tr {
    border-bottom: 1px solid #dee2e6;
  }
}
.custom-table th,
.custom-table td {
  white-space: nowrap; /* Ensure text in th and td is displayed on one line */
  border: 1px solid #ccc; /* Add border between th and td */
}



/* Remove background color change on hover for deposit buttons */
.btn.btn-danger:hover {
  background-color: rgb(97, 20, 20) !important;
}
.input-group-text{
  border-radius: 20px;
}
.search-text{
  font-family: "Playball", cursive;
  font-weight: 150;
  font-size: large;
}
