<div class="py-5 px-5">
    <div class="d-flex justify-content-between mb-3">
        <label for="StartDate" class="fw-bold mt-2"> Start Date : </label>
        <p-calendar [(ngModel)]="StartDate" (ngModelChange)="changeClander()" [showIcon]="true"
            inputId="StartDate"></p-calendar>
        <label for="EndDate" class="fw-bold mt-2">End Date : </label>
        <p-calendar [(ngModel)]="EndDate" (ngModelChange)="changeClander()" [showIcon]="true"
            inputId="EndDate"></p-calendar>
    </div>
    <p-table [value]="items" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>National ID</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Account ID</th>
                <th>Platform</th>
                <th>Company</th>
                <th>Status Name</th>
                <th>Team Leader Name</th>
                <th>Sales Name</th>
                <th>Depoit</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.nationalId}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>{{item.email}}</td>
                <td>{{item.accountId}}</td>
                <td>{{item.platform}}</td>
                <td>{{item.company}}</td>
                <td>{{item.statusName}}</td>
                <td>{{item.teamLeaderName}}</td>
                <td>{{item.salesName}}</td>
                <td>
                    <button type="button" pButton icon="pi pi-trash" (click)="delteClient(item.id)"
                        title="Open modal to enter a number" class="modal-open-button"></button>
                </td>
                <td>
                    <button type="button" class="modal-open-details-button"
                        routerLink="/client/clientDetailes/{{item.id}}">Details</button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button [disabled]="Page==1" type="button" icon="pi pi-chevron-left" (click)="Page > 1 ? prev() : null"
                styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button [disabled]="Page == lastPage" type="button" icon="pi pi-chevron-right"
                (click)="Page < lastPage ? next() : null" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>

<p-dialog class="d-flex justify-content-center" header="Enter Depoit" [(visible)]="displayModal">
    <div>
        <input type="number" class="text-center " [(ngModel)]="selectedNumber">
    </div>
    <p-footer class="d-flex justify-content-center">
        <!-- <button type="button" pButton label="Enter Deposit" icon="pi pi-check" class="modal-open-button"
            (click)="deposit(selectedNumber)"></button> -->
    </p-footer>
</p-dialog>

<p-toast></p-toast>