<div class="py-5 d-flex justify-content-center">
  <div class="row" style="width: 100%">
    <div class="text-center mb-4">
      <h2 class="text-primary"><i class="fas fa-users"></i> All Clients</h2>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-md-6 d-flex justify-content-around align-items-center mb-2">
        <label for="StartDate" class="fw-bold mb-0 pr-2">
          <i class="fas fa-calendar-alt"></i> Start Date :
        </label>
        <p-calendar
          [(ngModel)]="StartDate"
          (onChange)="onInputChange($event)"
          (ngModelChange)="changeClander()"
          [showIcon]="true"
          inputId="StartDate"
        ></p-calendar>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-around align-items-center">
        <label for="EndDate" class="fw-bold mb-0">
          <i class="fas fa-calendar-alt"></i> End Date :
        </label>
        <p-calendar
          [(ngModel)]="EndDate"
          (ngModelChange)="changeClander()"
          (onChange)="onInputChange($event)"
          [showIcon]="true"
          inputId="EndDate"
        ></p-calendar>
      </div>
    </div>
    <div class="d-flex justify-content-center mb-3"> <!-- Centered Search Input -->
      <div class="input-group">
        <span class="input-group-text bg-primary"><i class="fas fa-search"></i></span>
        <input
          class="form-control mr-sm-2 search-text"
          type="search"
          placeholder="Search"
          name="search"
          aria-label="Search"
          (input)="onInputChange($event)"
        />
        <button
          class="btn btn-outline-primary bg-primary search-text text-white"
          type="submit"
          (click)="onInputChange($event)"
        >
          Search
        </button>
      </div>
    </div>

    <p-table
      class="custom-table py-2"
      [value]="items"
      [paginator]="true"
      [rows]="10"
      [totalRecords]="totalCount"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'max-width': '100%' }"
      [responsive]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th><i class="fas fa-user"></i> Name</th>
          <th><i class="fas fa-id-card"></i> National ID</th>
          <th><i class="fas fa-phone"></i> Phone Number</th>
          <th><i class="fas fa-envelope"></i> Email</th>
          <th><i class="fas fa-id-badge"></i> Account ID</th>
          <th><i class="fas fa-desktop"></i> Platform</th>
          <th><i class="fas fa-building"></i> Company</th>
          <th><i class="fas fa-info-circle"></i> Status Name</th>
          <th><i class="fas fa-user-tie"></i> Leader Name</th>
          <th><i class="fas fa-user"></i> Sales Name</th>
          <th><i class="fas fa-eye"></i> View</th>
          <th class="border" *ngIf="userRole!=='Retention'"><i class="fas fa-trash-can"></i> Delete</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.nationalId }}</td>
          <td>{{ item.phoneNumber }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.accountId }}</td>
          <td>{{ item.platform }}</td>
          <td>{{ item.company }}</td>
          <td>{{ item.statusName }}</td>
          <td>{{ item.teamLeaderName }}</td>
          <td>{{ item.salesName }}</td>
          <td><button type="button" class="btn btn-primary" routerLink="/client/clientDetailes/{{ item.id }}"> Details</button></td>
          <td *ngIf="userRole!=='Retention'" class="border bg-dark-subtle" (click)="deleteSpecificClient(item)"><i class="fas fa-trash-can text-danger"></i></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button
          type="button"
          icon="pi pi-chevron-left"
          (click)="Page > 1 ? prev() : null"
          styleClass="p-button-text"
          label="Previous"
        ></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button
          type="button"
          icon="pi pi-chevron-right"
          (click)="Page < lastPage ? next() : null"
          styleClass="p-button-text fw-bold"
          >Next</p-button
        >
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
