<div class="py-5 main" >
  <form [formGroup]="salesHome" (ngSubmit)="onSubmit()" class="p-fluid">
    <div class="row py-2">
      <!-- Row 1 -->
      <div class="col-lg-6 mb-2">
        <div class="">
          <label for="canves">Canvas*</label>
          <p-inputNumber inputId="canves" formControlName="canvas" placeholder="Enter canvas value" [showButtons]="false"></p-inputNumber>
        </div>
      </div>
      <div class="col-lg-6 mb-2" >
        <div class="">
          <label for="second">Second*</label>
          <p-inputNumber inputId="second" formControlName="secondCall" placeholder="Enter second value" [showButtons]="false"></p-inputNumber>
        </div>
      </div>
      <!-- Row 2 -->
      <div class="col-lg-6 mb-2">
        <div class="">
          <label for="salse">Sales*</label>
          <p-inputNumber inputId="salse" formControlName="sell" placeholder="Enter sales value" [showButtons]="false"></p-inputNumber>
        </div>
      </div>
      <div class="col-lg-6 mb-2">
        <div class="">
          <label for="follow">Follow*</label>
          <p-inputNumber inputId="follow" formControlName="follow" placeholder="Enter follow-up value" [showButtons]="false"></p-inputNumber>
        </div>
      </div>
      <!-- Row 3 -->
      <div class="col-lg-6 mb-2">
        <div class="">
          <label for="register">Register*</label>
          <p-inputNumber inputId="register" formControlName="register" placeholder="Enter register value" [showButtons]="false"></p-inputNumber>
        </div>
      </div>
      <div class="col-lg-6 mb-2">
        <div class="">
          <label for="deposit">Deposit*</label>
          <p-inputNumber inputId="deposit" formControlName="deposit" placeholder="Enter deposit value" [showButtons]="false"></p-inputNumber>
        </div>
      </div>
      <div class="d-flex justify-content-center ">
        <button *ngIf="slaesId!=='null'" type="submit" pButton label="Update Record" [disabled]="!salesHome.valid"
        class=""></button>
      <button *ngIf="slaesId==='null'" type="submit" pButton label="Add Record" [disabled]="!salesHome.valid"
        class=""></button>
      </div>
    </div>

  </form>
</div>
<p-toast></p-toast>
