<div class="py-5 d-flex justify-content-center">
  <div class="row" style="width: 100%">
    <div class="text-center mb-4">
      <h2 class="text-primary">
        All Interviewees <i class="fas fa-users"></i>
      </h2>
    </div>
    <p-table
      class="custom-table py-2"
      [value]="allInterviewees"
      [paginator]="true"
      [rows]="10"
      [totalRecords]="totalCount"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'max-width': '100%' }"
      [responsive]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="border">Name <i class="fas fa-user"></i></th>
          <th class="border">PhoneNumber <i class="fas fa-phone"></i></th>
          <th class="border">Email <i class="fas fa-envelope"></i></th>
          <th class="border">National_ID <i class="fas fa-id-card"></i></th>
          <th class="border">Date_Of_Birth <i class="fas fa-calendar"></i></th>
          <th class="border">Added_Date <i class="fas fa-calendar-plus"></i></th>
          <th class="border">Assign_To <i class="fas fa-user-tie"></i></th>
          <th class="border">Assign_To_Leader <i class="fas fa-user-plus"></i></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td class="border">{{ item.name }}</td>
          <td class="border">{{ item.phoneNumber }}</td>
          <td class="border">{{ item.email }}</td>
          <td class="border">{{ item.nationalId }}</td>
          <td class="border">{{ item.dateOfBirth }}</td>
          <td class="border">{{ item.addedDate }}</td>
          <td class="border">{{ item.superiorName }}</td>
          <th (click)="showTeamLeaderModal(item.id)" class="border bg-success"><i class="fas fa-user-plus"></i></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button
          type="button"
          icon="pi pi-chevron-left"
          (click)="previousPage()"
          styleClass="p-button-text"
          label=" < Previous"
        ></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button
          type="button"
          icon="pi pi-chevron-right"
          (click)="nextPage()"
          label="Next > "
          styleClass="p-button-text fw-bold"
          ></p-button
        >
      </ng-template>
    </p-table>
  </div>
</div>
<div
  class="modal fade w-100"
  id="exampleModalToggle"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
</div>

<p-dialog
class="d-flex justify-content-center"
[modal]="true"
header="Select  Hr"
[(visible)]="displayTeamLeaderModal"
>
<div class="field-container">
  <label for="hr"><i class="fa-solid fa-user"></i> Superior : </label>
  <br />
  <select
    class="custom-select"
    [(ngModel)]="teamLeaderId"
  >
    <option  value="{{managerData.data.id}}"  selected>{{managerData.data.name}} (Manager)</option>
    <option *ngFor="let hr of allTeamLeaders"  [value]="hr.id">
      {{ hr.name }} (Leader)
    </option>
  </select>
</div>
<p-footer class="d-flex justify-content-center">
  <button
    type="button"
    pButton
    label="Save"
    icon="pi pi-check"
    class="modal-open-button"
    (click)="assignToTeamLeader()"
  ></button>
</p-footer>
</p-dialog>
<p-toast></p-toast>
