<h1> Client Detailes </h1>
<div class="d-flex">

    <form [formGroup]="updateForm" class="update-form-container px-5">
        <div>
            <div class="row">

                <div class="col-6">
                    <label for="name">Name:</label>
                    <input type="text" id="name" formControlName="name" class="input-field">
                </div>
                <div class="col-6">
                    <label for="nationalId">National ID:</label>
                    <input type="text" id="nationalId" formControlName="nationalId" class="input-field">
                </div>
            </div>
            <div class="row">

                <div class="col-6">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" id="phoneNumber" formControlName="phoneNumber" class="input-field">
                </div>
                <div class="col-6">
                    <label for="email">Email:</label>
                    <input type="email" id="email" formControlName="email" class="input-field">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="accountId">Account ID:</label>
                    <input type="text" id="accountId" formControlName="accountId" class="input-field">
                </div>
                <div class="col-6">
                    <label for="platform">Platform:</label>
                    <input type="text" id="platform" formControlName="platform" class="input-field">
                </div>
            </div>
            <div class="row">

                <div class="col-6">
                    <label for="company">Company:</label>
                    <input type="text" id="company" formControlName="company" class="input-field">
                </div>

                <div class="col-6 ">
                    <div class="field-container">
                        <label for="salesId">Sales ID:</label>
                        <br>
                        <select
                            style="height: 45px; width:100%; border-radius: 5px; border: 1px solid rgb(199, 199, 236);"
                            formControlName="salesId" class="custom-select">
                            <option value="" disabled selected>Select Sales ID</option>
                            <option *ngFor="let salesId of salesList" [value]="salesId.id">{{ salesId.name }}</option>
                        </select>
                    </div>

                </div>



            </div>

            <div class="col-12">

                <button class="confirm-model-hieght" type="button" pButton label="Update" (click)="updateItemDetails()">

                </button>

            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-4">
            <button class="confirm-model-hieght" type="button" pButton label="Change teamleader"
                (click)="showTeamdLeadModal()">

            </button>
        </div>
        <div class="col-4">

            <button class="confirm-model-hieght" type="button" pButton label="Assign to retention"
                (click)="showModal()">

            </button>
        </div>
        <div class="col-4">
            <button class="confirm-model-hieght" type="button" pButton label="Deactive " (click)="deActive()">
            </button>
        </div>

    </div>
</div>

<!-- ================================================= -->
<div class="d-flex justify-content-between">

    <h1 class="ms-3 mb-2"> Client Deposit </h1>
    <button type="button"  pButton icon="pi pi-plus" (click)="showDepositModal()"
        title="Open modal to enter a number" class="modal-open-button me-3 mb-2"> Add deposit </button>
    <!-- <button type="button" *ngIf="currentClient.status ===0" pButton icon="pi pi-replay" (click)="showDepositModal()"
        title="Open modal to enter a number" class="modal-open-button me-3 mb-2"> Redeposit deposit </button>
    Main Deposits Table -->
</div>

<p-table [value]="clientDeposit">
    <ng-template pTemplate="header">
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Depositor Name</th>
            <th>Total</th>
            <th>Active</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-deposit>
        <tr (click)="openDialog(deposit)">
            <td>{{deposit.amount}}</td>
            <td>{{deposit.date | date}}</td>
            <td>{{deposit.depositorName}}</td>
            <td>{{deposit.total}}</td>
            <td>{{deposit.isActive}}</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog class="d-flex justify-content-center" header="Enter Depoit" [(visible)]="displayModal">
    <div>
        <input type="number" class="text-center " [(ngModel)]="selectedNumber">
    </div>
    <p-footer class="d-flex justify-content-center">
        <button  type="button" pButton label="Enter Deposit" icon="pi pi-check"
            class="modal-open-button" (click)="deposit()"></button>
        <!-- <button *ngIf="currentClient.status ===0" type="button" pButton label="Re Deposit" icon="pi pi-check"
            class="modal-open-button" (click)="deposit()"></button> -->
    </p-footer>
</p-dialog>


<div class="d-flex justify-content-between">
    <h1 class="ms-3 mb-2 mt-2"> Client Lot </h1>

    <button type="button" pButton icon="pi pi-plus" (click)="showAddClientLot()" title="Open modal to enter a number"
        class="modal-open-button me-3 my-2 "> Add Lot </button>

    <!-- Main Deposits Table -->
</div>

<p-table [value]="clientLots">
    <ng-template pTemplate="header">
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Retention Name</th>
            <th> Delete </th>
            <th> Update </th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td>{{rowData.amount}}</td>
            <td>{{rowData.date | date: 'short'}}</td>
            <td>{{rowData.retentionName}}</td>
            <td>
                <button type="button" pButton icon="pi pi-trash" title="Open modal to enter a number"
                    class="modal-open-button delete-button" (click)="deleteLot(rowData.id)"></button>
            </td>
            <td>
                <button type="button" pButton icon="pi pi-file-edit" class="modal-open-details-button"
                    (click)="showUpdateClientLotModal(rowData.id)"

                ></button>
            </td>
        </tr>
    </ng-template>
</p-table>





<!-- ============================== Dialogs ============================= -->

<!-- Dialog for Redeposits -->



<p-dialog [(visible)]="displayDialog" [style]="{width: '50vw'}" [modal]="true" [closable]="true" [resizable]="false"
    header="Detail">
    <div *ngIf="selectedDepositRedeposits.length; else noRedeposits">
        <p-table [value]="selectedDepositRedeposits">
            <ng-template pTemplate="header">
                <tr>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Depositor Name</th>
                    <th>Depositor Role Name</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-redeposit>
                <tr>
                    <td>{{redeposit.amount}}</td>
                    <td>{{redeposit.date | date}}</td>
                    <td>{{redeposit.depositorName}}</td>
                    <td>{{redeposit.depositorRoleName}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="empty">
                <tr>
                    <td colspan="3">No redeposits found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <ng-template #noRedeposits>
        <div>No redeposits available.</div>
    </ng-template>
</p-dialog>

<!-- ========================= Dialog for assign retention ============================== -->
<p-dialog class="d-flex justify-content-center" header="Select retention" [(visible)]="displayRetentionModal">
    <div class="field-container">
        <label for="salesId">Sales ID:</label>
        <br>
        <select style="height: 45px; width:100%; border-radius: 5px; border: 1px solid rgb(199, 199, 236);"
            [(ngModel)]="retentionId" class="custom-select">
            <option value="" disabled selected>Select Retention ID</option>
            <option *ngFor="let retention of retentionList" [value]="retention.id">{{ retention.name }}</option>
        </select>
    </div>
    <p-footer class="d-flex justify-content-center">
        <button type="button" pButton label="Add Retention" icon="pi pi-check" class="modal-open-button"
            (click)="assignToRetension()"></button>
    </p-footer>
</p-dialog>
<!-- =========================== Dialog for change team lead ======================================== -->
<p-dialog class="d-flex justify-content-center" header="Select  teamleader" [(visible)]="displayTeamLeadModal">
    <div class="field-container">
        <label for="teamlead">TeamLead : </label>
        <br>
        <select style="height: 45px; width:100%; border-radius: 5px; border: 1px solid rgb(199, 199, 236);"
            [(ngModel)]="teamLeadId" class="custom-select">
            <option value="" disabled selected>Select TeamLead ID</option>
            <option *ngFor="let teamlead of teamLeadList" [value]="teamlead.id">{{ teamlead.name }}</option>
        </select>
    </div>
    <p-footer class="d-flex justify-content-center">
        <button type="button" pButton label="Add teamlead" icon="pi pi-check" class="modal-open-button"
            (click)="changeTeamLead()"></button>
    </p-footer>
</p-dialog>
<!-- ======================== Add Lot Modal ========================= -->
<p-dialog class="d-flex justify-content-center" header="Enter Lot" [(visible)]="displayClientLotModal">
    <div>
        <input type="number" class="text-center " [(ngModel)]="lotAmount">
    </div>
    <p-footer class="d-flex justify-content-center">
        <button type="button" pButton label="Add Lot" icon="pi pi-check" class="modal-open-button"
            (click)="addLot()"></button>

    </p-footer>
</p-dialog>
<p-dialog class="d-flex justify-content-center" header="Enter a new Lot" [(visible)]="displayUpdateClientLotModal">
    <div>
        <input type="number" class="text-center " [(ngModel)]="lotAmount">
    </div>
    <p-footer class="d-flex justify-content-center">
        <button type="button" pButton label="update Lot" icon="pi pi-check" class="modal-open-button"
            (click)="updateLot()"></button>

    </p-footer>
</p-dialog>
