  <!-- ---------------------------- footer ------------------------------------------>
  <div class="p-0 m-0">
    <footer class="text-center fixed-bottom pt-3" style="background-color:#214162;">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Social media -->
        <section>
          <!-- Facebook -->
          <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
            data-mdb-ripple-color="light"><i class="fab fa-facebook-f p text-light"></i></a>

          <!-- Twitter -->
          <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-twitter text-light"></i></a>

          <!-- Google -->
          <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-google text-light"></i></a>

          <!-- Instagram -->
          <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-instagram text-light"></i></a>

          <!-- Linkedin -->
          <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-linkedin text-light"></i></a>
          <!-- Github -->
          <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-github text-light"></i></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    </footer>
  </div>