<div class="container unlock">
  <div class="card mt-3">
    <div class="card-body text-center">
      <h5 class="card-title text-danger">NOT Found</h5>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div class="card mt-3 text-center">
      <img src="../../../assets/images/notfound.png" alt="Locked" style="width: 100%;height:70vh;" class="mb-4">
      <h4>Sorry, Not Found Page</h4>
      <p class="text-muted">You Can't Access This Page.</p>
      <h5 class="text-muted" routerLink="/auth/login"><i class="fas fa-arrow-left"></i> Back To Login</h5>
      <button type="button" routerLink="/auth/login" class="btn btn-primary mb-2"><i class="fas fa-sign-in-alt"></i> Login</button>
    </div>
  </div>
</div>
