<div class="container unlock" >
  <div class="card mt-3">
    <div class="card-body text-center">
      <h5 class="card-title text-danger">NOT Found </h5>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center ">
    <div class="card mt-3 text-center">
      <img src="../../../assets/images/notfound.png" alt="Locked" style="width: 100%;height:70vh;" class="mb-4">
      <h4>Sorry, Not Found Page </h4>
      <p class="text-muted">You Can't Access This Page .</p>
  </div>
</div>
</div>
