<div class="py-5 d-flex justify-content-center">
    <div class="row" style="width: 100%;">
      <div class="text-center mb-4">
        <h2 class="text-primary"><i class="fas fa-users"></i> All Sellers</h2>
      </div>
      <p-table class="custom-table py-2" [value]="allSellers" [paginator]="true" [rows]="10" [totalRecords]="totalCount" [showCurrentPageReport]="true"
               [tableStyle]="{ 'max-width': '100%' }" [responsive]="true">
               <ng-template pTemplate="caption">
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    id="search-teamleader"
                    placeholder="Search keyword"
                    (input)="onInputChange($event)"
                  />
                </span>
            </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="border"><i class="fas fa-user"></i> Name</th>
            <th class="border"><i class="fas fa-phone"></i> PhoneNumber</th>
            <th class="border"><i class="fas fa-building"></i> Company Phone</th>
            <th class="border"><i class="fas fa-envelope"></i> Email</th>
            <th class="border"><i class="fas fa-id-card"></i> National ID</th>
            <th class="border"><i class="fas fa-id-card"></i> Sales Day</th>
            <th class="border"><i class="fas fa-trash-can"></i> Delete</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.companyPhoneNumber}}</td>
            <td>{{item.email}}</td>
            <td>{{item.nationalId}}</td>
            <td class="click" routerLink="/sales/salesHistory/{{item.id}}">Show Day</td>
            <td class="border bg-dark-subtle" (click)="deleteSpecificSeller(item)"><i class="fas fa-trash-can text-danger"></i></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-chevron-left" (click)="previousPage()" styleClass="p-button-text"  label="Previous"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-chevron-right" (click)="nextPage()" styleClass="p-button-text fw-bold">Next</p-button>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-confirmDialog></p-confirmDialog>
  <p-toast></p-toast>
